{% extends "base.html" %}
{% block title %}{{ service.name }} | {{ block.super }}{% endblock %}

{% block content %}
        
      <div id="webservices" class="frame">
        
        <h2>{{ service.name }}</h2>

	<p id="serviceDescription">{{ service.description }}</p>

        
        <table class="event-log" cellpadding="10">
          
          <tbody id="events-tbody">
            {% for e in service.events.all %}
              <tr>
                <td class="status highlight">
                    <img src="{{ STATIC_URL }}images/status/{{ e.status.image }}.png" alt="{{ e.status.name }}">
                </td>
                <td>
                  {% if "://" in e.message %}
                  <a href="{{ e.message }}">Link</a>
                  {% else %}
                  {{ e.message }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
{% endblock %}

